// Navigation Styles here

.navigation {
    width: 100%;
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #99a4b0;
    border: 1px solid green;
    border-bottom: 2px dashed silver;
    
    h1 {
        font-size: 3rem;
        color: #FFFFFF;
    }

    nav {
        width: 100%;
        height: 100%;
        z-index: 99;
        display: flex;
        justify-content: space-between;
    }

    nav a {
        margin: 0 20px;
        color: @font-color;
        font-size: 1.6rem;
        text-decoration: none;
    }
}

@media only screen and (@mobile) {
    .navigation {
        width: 100%;
        margin: 10px 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        border-bottom: 2px dashed silver;
    }

    .navigation nav {
        margin: 10px 0;
        display: flex;
        justify-content: space-around;
    }

    .navigation nav a {
        margin: 0px;
    }

}